In [103]:
import pandas as pd
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn import linear_model
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import ensemble
from sklearn import tree
from sklearn import svm
from sklearn import neighbors
from sklearn import naive_bayes
import numpy as np
from sklearn.model_selection import train_test_split

# from sklearn.datasets import load_breast_cancer
data_df = pd.read_csv('/content/data.csv')
data_df

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115,NaN
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637,NaN
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820,NaN
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400,NaN
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039,NaN

Treino (60%)


Teste (40%)

randomizado, mas não estratificado

In [104]:
# import numpy as np
# from sklearn.model_selection import train_test_split
#from sklearn.model_selection import StratifiedShuffleSplit

X = data_df.drop(['diagnosis' , 'id' , 'Unnamed: 32'] , axis =1)
y = data_df.diagnosis
X

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [105]:
def my_train_test_split(X, y, train_ratio, seed):
    qtd = X.shape[0]
    idx = np.random.RandomState(seed=seed).permutation(np.arange(qtd))
    qtd_train = int(qtd * train_ratio)
    idx_train = idx[:qtd_train]
    idx_test  = idx[qtd_train:]
    if type(X) == np.ndarray:    # NumPy Array
        X_train   = X[idx_train]
        X_test    = X[idx_test]
        y_train   = y[idx_train]
        y_test    = y[idx_test]
    else:                        # Pandas DataFrame
        X_train   = X.iloc[idx_train]
        X_test    = X.iloc[idx_test]
        y_train   = y.iloc[idx_train]
        y_test    = y.iloc[idx_test]
        
    return X_train, X_test, y_train, y_test

In [106]:
X_train , X_test , y_train , y_test = my_train_test_split(X, y , 0.6, 42)

In [107]:

modelos = {}
modelos['DT'] = tree.DecisionTreeClassifier()
modelos['SVM'] = svm.SVC()
modelos['KNN'] = neighbors.KNeighborsClassifier(n_neighbors=3)
modelos['LogReg'] = linear_model.LogisticRegression(multi_class='multinomial',solver='newton-cg')
modelos['NB'] = naive_bayes.GaussianNB()
modelos['SGD'] = linear_model.SGDClassifier()
modelos['RF'] = ensemble.RandomForestClassifier()
modelos['GB'] = ensemble.GradientBoostingClassifier()

In [108]:
algs = []
resultados_train = []
resultados_test = []

for modelo_str in modelos.keys(): 
  modelo = modelos[modelo_str]
  modelo.fit(X_train, y_train) 
  y_pred_train = modelo.predict(X_train)
  y_pred_test  = modelo.predict(X_test)
  acuracia_train = metrics.accuracy_score(y_train, y_pred_train)
  acuracia_test  = metrics.accuracy_score(y_test , y_pred_test)
  algs.append(modelo_str)
  resultados_train.append(round(acuracia_train,2))
  resultados_test.append(round(acuracia_test,2))

df_result = pd.DataFrame({'algs' : algs , 'acc_train' : resultados_train, 'acc_test' : resultados_test})
df_result

     algs  acc_train  acc_test
0      DT       1.00      0.93
1     SVM       0.92      0.88
2     KNN       0.96      0.91
3  LogReg       0.97      0.94
4      NB       0.95      0.93
5     SGD       0.92      0.90
6      RF       1.00      0.96
7      GB       1.00      0.96

Treino (60%)


Teste (40%)

randomizado e estratificado

**Usando o train_test_split do Scikit Learn, que por padrão já usa estratificação sobre os rótulos**.

In [109]:
X_train_1, X_test_1, y_train_1, y_test_1 = train_test_split(X, y, train_size = 0.6, random_state=42, stratify=y)

In [110]:
algs = []
resultados_train = []
resultados_test = []

for modelo_str in modelos.keys(): 
  modelo = modelos[modelo_str]
  modelo.fit(X_train_1, y_train_1) 
  y_pred_train = modelo.predict(X_train_1)
  y_pred_test  = modelo.predict(X_test_1)
  acuracia_train = metrics.accuracy_score(y_train_1, y_pred_train)
  acuracia_test  = metrics.accuracy_score(y_test_1 , y_pred_test)
  algs.append(modelo_str)
  resultados_train.append(round(acuracia_train,2))
  resultados_test.append(round(acuracia_test,2))

df_result1 = pd.DataFrame({'algs' : algs , 'acc_train' : resultados_train, 'acc_test' : resultados_test})
df_result1

     algs  acc_train  acc_test
0      DT       1.00      0.93
1     SVM       0.90      0.91
2     KNN       0.96      0.94
3  LogReg       0.96      0.95
4      NB       0.95      0.93
5     SGD       0.89      0.88
6      RF       1.00      0.96
7      GB       1.00      0.96

Treino (80%)


Teste (20%)

randomizado, mas não estratificado

In [111]:
X_train_2 , X_test_2 , y_train_2 , y_test_2 = my_train_test_split(X, y , 0.8, 42)

In [112]:
algs = []
resultados_train = []
resultados_test = []

for modelo_str in modelos.keys(): 
  modelo = modelos[modelo_str]
  modelo.fit(X_train_2, y_train_2) 
  y_pred_train = modelo.predict(X_train_2)
  y_pred_test  = modelo.predict(X_test_2)
  acuracia_train = metrics.accuracy_score(y_train_2, y_pred_train)
  acuracia_test  = metrics.accuracy_score(y_test_2 , y_pred_test)
  algs.append(modelo_str)
  resultados_train.append(round(acuracia_train,2))
  resultados_test.append(round(acuracia_test,2))

df_result2 = pd.DataFrame({'algs' : algs , 'acc_train' : resultados_train, 'acc_test' : resultados_test})
df_result2

     algs  acc_train  acc_test
0      DT       1.00      0.95
1     SVM       0.93      0.87
2     KNN       0.96      0.90
3  LogReg       0.97      0.92
4      NB       0.95      0.92
5     SGD       0.92      0.88
6      RF       1.00      0.96
7      GB       1.00      0.96

Treino (80%)


Teste (20%)

randomizado e estratificado

In [113]:
X_train_3, X_test_3, y_train_3, y_test_3 = train_test_split(X, y, train_size=0.8, random_state=42, stratify=y)

In [114]:
algs = []
resultados_train = []
resultados_test = []

for modelo_str in modelos.keys(): 
  modelo = modelos[modelo_str]
  modelo.fit(X_train_3, y_train_3) 
  y_pred_train = modelo.predict(X_train_3)
  y_pred_test  = modelo.predict(X_test_3)
  acuracia_train = metrics.accuracy_score(y_train_3, y_pred_train)
  acuracia_test  = metrics.accuracy_score(y_test_3 , y_pred_test)
  algs.append(modelo_str)
  resultados_train.append(round(acuracia_train,2))
  resultados_test.append(round(acuracia_test,2))

df_result3 = pd.DataFrame({'algs' : algs , 'acc_train' : resultados_train, 'acc_test' : resultados_test})
df_result3

     algs  acc_train  acc_test
0      DT       1.00      0.93
1     SVM       0.92      0.90
2     KNN       0.96      0.92
3  LogReg       0.97      0.94
4      NB       0.94      0.94
5     SGD       0.85      0.86
6      RF       1.00      0.97
7      GB       1.00      0.96